<div class="col-md-10">

	<div class="row">
		<div class="page-header">
		  	<div ng-if="estabelecimento.id != null">
				<h3>{{estabelecimento.id}} - {{estabelecimento.nome}}</h3>
			</div>
			<div ng-if="estabelecimento.id == null">
				<h3>Novo Estabelecimento</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
			<a ui-sref="root.estabelecimento" ui-sref-opts="{reload: true}" class="btn btn-default form-control">Voltar</a>
		</div>
	</div>

	<div class="row">
		<form class="form-horizontal col-lg-12" role="form" ng-submit="cadastrar()">
			<fieldset>
				<legend>Dados Estabelecimento</legend>
				<div class="form-group">
					<label for="nome" class="col-lg-2 control-label">Nome</label>
					<div class="col-lg-6">
						<input ng-model="estabelecimento.nome" id="nome" type="text" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>			
			</fieldset>
			<fieldset>
				<legend>Contato</legend>
				<div class="form-group">		
					<label for="telefonePrincipal" class="col-lg-2 control-label">Telefone Principal</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.telefone1" type="text" id="telefonePrincipal" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
				<div class="form-group">	
					<label for="telefoneOpcional" class="col-lg-2 control-label">Telefone Opcional</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.telefone2" id="telefoneOpcional" type="text" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Endereço</legend>
				<div class="form-group">
					<label for="logradouro" class="col-lg-2 control-label">Logradouro</label>
					<div class="col-lg-6">
						<input ng-model="estabelecimento.endereco.logradouro" id="logradouro" type="text" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
				<div class="form-group">		
					<label for="numero" class="col-lg-2 control-label">Número</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.endereco.numero" id="numero" type="number" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
				<div class="form-group">
					<label for="complemento" class="col-lg-2 control-label">Complemento</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.endereco.complemento" id="complemento" type="number" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
				<div class="form-group">
					<label for="bairro" class="col-lg-2 control-label">Bairro</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.endereco.bairro" id="bairro" type="text" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
				<div class="form-group">
					<label for="cidade" class="col-lg-2 control-label">Cidade</label>
					<div class="col-lg-3">
						<input ng-model="estabelecimento.endereco.cidade" id="cidade" type="text" class="form-control" ng-disabled="estabelecimento.id != null">
					</div>
				</div>
			</fieldset>
			
			<div class="btn-group pull-right">
				<button type="submit" class="btn btn-default">Cadastrar</button>
			</div>	
		</form>
	</div>
	<br/>
	<br/>
</div>