<div class="container">
<!-- <div class="row"> -->
		<div class="pull-right" style="margin-top: 45px;">
			<a ui-sref="root.principal" ui-sref-opts="{reload: false}" class="btn btn-default">Voltar</a>
		</div>
<!-- 	</div> -->
	<div class="row">
		<div class="page-header">
			<h3><img src="img/a.jpg">  {{estabelecimento.nome}} </h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<fieldset>
				<legend>Serviços</legend>
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="servico in estabelecimento.servicos" role="presentation"><a href="">{{servico.nome}}</a></li>
				</ul>
			</fieldset>
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<fieldset>
					<legend>Resumo da empresa</legend>
					<p>{{estabelecimento.resumo}}</p>
				</fieldset>
				<br/>
				<br/>
			</div>
			<div class="col-md-6">
				<fieldset>
					<legend>Contato</legend>
					<div class="form-group">
					<label for="telefone1" class="col-md-3 control-label" style="text-align: right;">Telefone: </label>
					<div class="col-md-9">
						<p id="telefone1"><small>{{estabelecimento.telefone1 | phone}}</small></p>
					</div>
					</div>
					<label for="telefone2" class="col-md-3 control-label" style="text-align: right;">Telefone: </label>
					<div class="col-md-9">
						<p id="telefone2"><small>{{estabelecimento.telefone2 | phone}}</small></p>
					</div>
					<div class="form-group">
						<label for="email" class="col-md-3 control-label" style="text-align: right;">E-mail: </label>
						<div class="col-md-9">
							<p id="email"><small>{{estabelecimento.email}}</small></p>
						</div>
					</div>
					<div class="form-group">
						<label for="site" class="col-md-3 control-label" style="text-align: right;">Site: </label>
						<div class="col-md-9">
							<a href="http://{{estabelecimento.site}}" target="_blank"><small>{{estabelecimento.site}}</small></a>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-6">
				<fieldset>
					<legend>Localização</legend>
					<p><small>
						{{estabelecimento.endereco.logradouro}} - {{estabelecimento.endereco.numero}} {{estabelecimento.endereco.complemento}}
					</small></p>
					<p><small>
						{{estabelecimento.endereco.bairro}} - {{estabelecimento.endereco.cidade}}
					</small></p> 
				</fieldset>		
			</div>
		</div>
	</div>
</div>

