<div class="container-fluid">
	<div class="row-fluid">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Bem-vindo ao Auto Serviços! Qual serviço você procura?</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="input-group col-md-6 col-md-offset-3">
						<input ng-model="filtro.texto" type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Pesquisar!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- pesquisa -->

	<div class="row-fluid">
		<div class="container">
		    <div class="col-lg-2">
				<div class="nav nav-pills nav-stacked" style="border: 1px solid #F1F1F1; border-radius: 4px;">
				 	<li role="presentation"><a href="#">Elétrica</a></li>
				 	<li role="presentation"><a href="#">Som</a></li>
					<li role="presentation"><a href="#">Mecânica</a></li>
					<li role="presentation"><a href="#">Lavagem</a></li>
				</div>		    
		    </div>
			<div class="col-lg-10">
				<div class="col-lg-4">
					<div class="header text-center">
						<a href=""><h4>Estabelecimento 1</h4></a>
					</div>
					<ul class="list-group text-center"
						style="height: 124px; overflow-y: scroll;">
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
					</ul>
					<input type="button" class="btn btn-primary btn-block" value="Visualizar" />
				</div>
				<div class="col-lg-4">
					<div class="header text-center">
						<a href=""><h4>Estabelecimento 2</h4></a>
					</div>
					<ul class="list-group text-center"
						style="height: 124px; overflow-y: scroll;">
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
					</ul>
					<input type="button" class="btn btn-primary btn-block" value="Visualizar" />
				</div>
				<div class="col-lg-4">
					<div class="header text-center">
						<a href=""><h4>Estabelecimento 3</h4></a>
					</div>
					<ul class="list-group text-center"
						style="height: 124px; overflow-y: scroll;">
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
						<li class="list-group-item">teste</li>
					</ul>
					<input type="button" class="btn btn-primary btn-block" value="Visualizar" />
				</div>
			</div>
		</div><!-- col-lg-10 -->
	</div> <!-- container -->

</div> <!-- container -->
